<!-- <p>
  hero-detail works!
</p> -->

<!-- <div *ngIf="selectedHero">

   <h2>{{selectedHero.name | uppercase}} Details</h2>
   <div> <span> id: {{ selectedHero.id }} </span> </div>
    <div> <span> name: {{ selectedHero.name }} </span> </div>
   <div>
     <label>name:
       <input [(ngModel)]="selectedHero.name" placeholder="name">
     </label>
   </div>
</div> -->

<div *ngIf="hero">
   <h2>{{hero.name | uppercase}} Details</h2>
   <div> <span> id: {{ hero.id }} </span> </div>
    <div> <span> name: {{ hero.name }} </span> </div>
   <div>
     <label>name:
       <input [(ngModel)]="hero.name" placeholder="name">
     </label>
   </div>
   <button (click)="goBack()">Go Back</button>
   <button (click)="save()">Save</button>
</div>
