<h1> {{ title }} </h1>

<!-- The content below is only a placeholder and can be replaced. -->

 <div style="text-align:center">
  Enter GitHub username: <input type="text" [(ngModel)]="userName">
  <button (click)="search()">Search</button>
 <h1> {{ title }} </h1>
<h1> GitHub User Details </h1>
<div *ngIf="res">

  <p> Login name: {{res.login}} </p>
  <p> Number of repos: {{res.public_repos}} </p>
  <p> Number of gists: {{res.public_gists}} </p>
  <p> Number of followers: {{res.followers}} </p>
</div>
</div>
  <h1>Player Details </h1>

  <!-- <li *ngFor="let player of response.players">{{player.id}} {{player.name}}
  </li> -->

  <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="80" (scrolled)="enScroll()" [scrollWindow]="false"
    style="height: 100px; overflow-y: scroll;">
    <ol>
      <li *ngFor="let item of myPlayersList" class="col-md-4" style="margin-top: 10px; font-size: 30px">
        {{item.id}} {{item.name}}

      </li>
    </ol>
    </div>

<h1> Articles </h1>
<!-- <ol>
  <h2 *ngFor="let article of resp.news">{{article.title}} {{article.published}}

  </h2>
</ol> -->

<div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="80" (scrolled)="onScroll()" [scrollWindow]="false"
  style="height: 200px; overflow-y: scroll;">
  <ol>
    <li *ngFor="let item of myArticlesList" class="col-md-4" style="margin-top: 10px; font-size: 30px">
      {{item.id}}{{item.title}} {{item.published}}

    </li>
  </ol>
  </div>

<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>


<!-- <app-heroes></app-heroes> -->


<router-outlet></router-outlet>
<app-messages></app-messages>


<!-- </div> -->
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<h1> {{ title }} </h1> -->
